<%@ Page Language="C#" AutoEventWireup="false" MasterPageFile="~/$locale/Resources.Master" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
	$utils.Localize("Coordinates")
</asp:Content>

<asp:Content ContentPlaceHolderID="conceptMenu" runat="server">
	$utils.GetUniverseMenu()
</asp:Content>

<asp:Content ContentPlaceHolderID="content" runat="server">
	
	<h1>$utils.Localize("Coordinates")</h1>
	
	
</asp:Content>