<%@ Page Language="C#" AutoEventWireup="false" MasterPageFile="~/$locale/Resources.Master" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
	$utils.Localize("UnloadCargo")
</asp:Content>

<asp:Content ContentPlaceHolderID="conceptMenu" runat="server">
	$utils.GetUniverseMenu()
</asp:Content>

<asp:Content ContentPlaceHolderID="content" runat="server">
	
	<h1>$utils.Localize("UnloadCargo")</h1>
	$utils.Localize("UnloadCargoInfo")
</asp:Content>