<%@ Master Language="C#" AutoEventWireup="false" MasterPageFile="~/OrionsBeltUniverse.Master" Inherits="OrionsBelt.WebUserInterface.AuctionMaster" %>

<asp:Content ContentPlaceHolderID="Content" runat="server">
    <OrionsBeltUI:AuctionHouseMenu runat="server"></OrionsBeltUI:AuctionHouseMenu>
    <asp:ContentPlaceHolder ID="Content" runat="server" />
</asp:Content>