<%@ Page Language="C#" AutoEventWireup="false" MasterPageFile="~/$locale/Resources.Master" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
	$utils.Localize("TradeRoutes")
</asp:Content>

<asp:Content ContentPlaceHolderID="conceptMenu" runat="server">
	$utils.GetCommerceMenu()
</asp:Content>

<asp:Content ContentPlaceHolderID="content" runat="server">
	
	$utils.Localize("TradeRoutesManual")
	
</asp:Content>