<%@ Page Language="C#" AutoEventWireup="false" MasterPageFile="~/$locale/Resources.Master" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
	$utils.Localize("BattleAPI")
</asp:Content>

<asp:Content ContentPlaceHolderID="conceptMenu" runat="server">
	$utils.GetAPIMenu()
</asp:Content>

<asp:Content ContentPlaceHolderID="content" runat="server">

	<h1>$utils.Localize("BattleAPI")</h1>
	$utils.Localize("BattleAPIInfo_Part1")
	
</asp:Content>