<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OrionsBelt.WebUserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="OrionsBeltAppender" type="OrionsBelt.Generic.Log.OrionsBeltAppender"/>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="OrionsBeltAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="bonusList" value="-1000000000,-20000000000"/>
    <add key="ForumActive" value="1"/>
    <add key="iva" value="20"/>
    <add key="appStatus" value="true"/>
    <add key="SmtpClient" value="smtp.pdmfc.com"/>
    <add key="UseNHibernateStats" value="true"/>
    <add key="scriptVersion" value="213"/>
    <add key="imagesPath" value="http://localhost/WebResources/Images"/>
    <add key="scriptPath" value="http://localhost/WebResources/Scripts"/>
    <add key="stylePath" value="http://localhost/WebResources/Styles"/>
    <!-- FAcebook API -->
    <add key="FacebookAPIId" value="b91bd6ce0d021e14e7c7b1b073828c75"/>
    <add key="FacebookSecret" value="93ea3885397a570d30a5e69d8fbe463b"/>
    <!-- Twitter API -->
    <add key="TwitterConsumerKey" value="tFRfLisubHo1nu45UeuVHw"/>
    <add key="TwitterConsumerSecret" value="lQ4bUtPcazULxaYt4kCxlTvf53iyURYzSQOGTWeQQI"/>
    <!-- Payment vars-->
    <add key="sandboxUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
    <add key="sandboxMail" value="busine_1230043909_biz@orionsbelt.eu"/>
    <add key="notificationUrl" value="Account/Check.aspx"/>
    <add key="confirmationUrl" value="Account/Confirm.aspx"/>
    <add key="logoUrl" value="http://pdm.velocix.orionsbelt.eu/Images/Common/LogoSmall.jpg"/>
    <add key="defaultButton" value="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif"/>
    <add key="payPalUrl" value="https://www.paypal.com/cgi-bin/webscr"/>
    <add key="payPalMail" value="business@orionsbelt.eu"/>
    <add key="payPalUseWS" value="false"/>
    <!-- SMS vars-->
    <add key="validIP" value="213.63.138.118"/>
    <!-- Paysafe vars-->
    <add key="merchant.properties" value="I:\ConfigKeys\merchant.properties"/>
    <add key="serialPrefix" value="125"/>
    <add key="paysafeUseWS" value="true"/>
    <!-- OneBip vars -->
    <add key="onebipUrl" value="https://www.onebip.com/otms/"/>
    <add key="onebipNotificationUrl" value="Account/CheckOneBipTransaction.aspx"/>
    <add key="oneBipDebug" value="1"/>
    <!-- SponsorPay vars-->
    <add key="applicationID" value="97"/>
  </appSettings>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="OrionsBelt.WebComponents.Controls" assembly="OrionsBelt.WebComponents" tagPrefix="OrionsBelt"/>
        <add namespace="OrionsBelt.WebUserInterface.Controls" assembly="OrionsBelt.WebUserInterface" tagPrefix="OrionsBeltUI"/>
        <add namespace="OrionsBelt.WebAdmin.Controls" assembly="OrionsBelt.WebAdmin" tagPrefix="OrionsBeltAdmin"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="http://www.orionsbelt.eu/Default.aspx" defaultUrl="Default.aspx"/>
    </authentication>
    <membership defaultProvider="Midgard">
      <providers>
        <add name="Midgard" type="OrionsBelt.WebUserInterface.OBUserProvider"/>
      </providers>
    </membership>
    <httpModules>
      <add name="SqlLoggerModule" type="OrionsBelt.WebComponents.Modules.QueryCounterLog, OrionsBelt.WebComponents"/>
      <add name="OfflineModule" type="OrionsBelt.WebComponents.Modules.OfflineModule, OrionsBelt.WebComponents"/>
      <add name="ExceptionModule" type="OrionsBelt.WebComponents.Modules.ExceptionModule, OrionsBelt.WebComponents"/>
      <!--add name="CompressionModule" type="OrionsBelt.WebComponents.Modules.CompressionModule, OrionsBelt.WebComponents"/-->
      <add name="EngineModule" type="OrionsBelt.WebUserInterface.Modules.EngineModule, OrionsBelt.WebUserInterface"/>
      <add name="AuthenticateModule" type="OrionsBelt.WebUserInterface.Modules.AuthenticateModule, OrionsBelt.WebUserInterface"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <location allowOverride="false" path="Admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="true" path="Stats">
    <system.web>
      <authorization>
        <allow roles="gameMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="AuctionHouse/AuctionAdmin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="AuctionHouse/AddToAuctionAdmin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Stats/Transactions.aspx">
    <system.web>
      <authorization>
        <allow roles="financial"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Stats/Invoices.aspx">
    <system.web>
      <authorization>
        <allow roles="financial"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Stats/ShopStats.aspx">
    <system.web>
      <authorization>
        <allow roles="financial"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Stats/OrionsStats.aspx">
    <system.web>
      <authorization>
        <allow roles="financial"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Stats/AHRegist.aspx">
    <system.web>
      <authorization>
        <allow roles="financial"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Stats/Payments.aspx">
    <system.web>
      <authorization>
        <allow roles="financial"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Stats/GenerateCodes.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="RunTick.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="LoginAuto.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="ResendConfirmation.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Account/Check.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Account/CheckSMSNotification.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Account/CheckOneBipTransaction.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="TickerNaked.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Manual.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Blog.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Forum.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Tops/Score.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Battle/Embedded.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Battle/BotResponse.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Terms.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Ajax/Battle/BotBattle.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Feeds">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path=".">
    <system.web>
      <authorization>
        <allow roles="user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Account/Ok.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Account/NotOk.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Stats/CreatePromotion.aspx">
    <system.web>
      <authorization>
        <allow roles="financial"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Stats/ViewPromotion.aspx">
    <system.web>
      <authorization>
        <allow roles="financial"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="false" path="Stats/UpdatePromotion.aspx">
    <system.web>
      <authorization>
        <allow roles="financial"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <OrionsBelt.WebUserInterface.Properties.Settings>
      <setting name="OrionsBelt_WebUserInterface_PaysafeWS_PaysafeProxy" serializeAs="String">
        <value>http://oldlace:6969/PaysafeProxy.asmx</value>
      </setting>
    </OrionsBelt.WebUserInterface.Properties.Settings>
  </applicationSettings>
</configuration>