<%@ Page Language="C#" AutoEventWireup="false" MasterPageFile="~/$locale/Resources.Master" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
	$utils.Localize("ManualHomeTitle")
</asp:Content>

<asp:Content ContentPlaceHolderID="content" runat="server">

	$utils.Localize("ManualHome")
	
</asp:Content>