<%@ Page Language="C#" AutoEventWireup="false" MasterPageFile="~/$locale/Resources.Master" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
		$utils.Localize("QuestsTitle")
</asp:Content>

<asp:Content ContentPlaceHolderID="conceptMenu" runat="server">
		$utils.GetQuestsMenu()
</asp:Content>

<asp:Content ContentPlaceHolderID="content" runat="server">

	$utils.Localize("QuestsIntro")
	$utils.GetQuestsMenu()
	
</asp:Content>