<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="appStatus" value="true"/>
    <add key="publicKey" value="6LeDhgEAAAAAACW5mr6RL1FAlSzfS3xnSxjmaZKT"/>
    <add key="privateKey" value="6LeDhgEAAAAAAIIuOy2PPfDN996DoF25HmeZA63s"/>
    <add key="version" value="1"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="Institutional.WebComponents.Controls" assembly="Institutional.WebComponents" tagPrefix="Institutional"/>
        <add namespace="Institutional.WebUserInterface.Controls" assembly="Institutional.WebUserInterface" tagPrefix="InstitutionalUI"/>
        <add namespace="Institutional.WebAdmin.Controls" assembly="Institutional.WebAdmin" tagPrefix="InstitutionalAdmin"/>
      </controls>
    </pages>
    <authentication mode="Forms"/>
    <membership defaultProvider="Midgard">
      <providers>
        <add name="Midgard" type="Institutional.WebComponents.MidgardUserProvider"/>
      </providers>
    </membership>
    <httpModules>
      <add name="OfflineModule" type="Institutional.WebComponents.Modules.OfflineModule, Institutional.WebComponents"/>
      <add name="AuthenticateModule" type="Institutional.WebComponents.Modules.AuthenticateModule, Institutional.WebComponents"/>
      <add name="LanguageModule" type="Institutional.WebUserInterface.Modules.IndependentLanguageModule, Institutional.WebUserInterface"/>
      <add name="MainModule" type="Institutional.WebUserInterface.Modules.MainModule, Institutional.WebUserInterface"/>
      <add name="ExceptionModule" type="Institutional.WebComponents.Modules.ExceptionModule, Institutional.WebComponents"/>
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox"/>
    </httpHandlers>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <location allowOverride="false" path="Admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>