<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UseNHibernateStats" value="true" />
    <add key="appStatus" value="true" />
    <add key="publicKey" value="6LeDhgEAAAAAACW5mr6RL1FAlSzfS3xnSxjmaZKT"/>
    <add key="privateKey" value="6LeDhgEAAAAAAIIuOy2PPfDN996DoF25HmeZA63s"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <pages>
      <controls>
        <add namespace="Language.WebComponents.Controls" assembly="Language.WebComponents" tagPrefix="Language"/>
        <add namespace="Language.WebUserInterface.Controls" assembly="Language.WebUserInterface" tagPrefix="LanguageUI"/>
        <add namespace="Language.WebAdmin.Controls" assembly="Language.WebAdmin" tagPrefix="LanguageAdmin"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" />
    </authentication>
    <membership defaultProvider="Midgard" >
      <providers>
        <add name="Midgard" type="Language.WebComponents.MidgardUserProvider" />
      </providers>
    </membership>
    <httpModules>
      <add name="SqlLoggerModule" type="Language.WebComponents.Modules.QueryCounterLog, Language.WebComponents"/>
      <add name="OfflineModule" type="Language.WebComponents.Modules.OfflineModule, Language.WebComponents"/>
      <add name="AuthenticateModule" type="Language.WebComponents.Modules.AuthenticateModule, Language.WebComponents"/>
      <add name="LanguageModule" type="Language.WebComponents.Modules.IndependentLanguageModule, Language.WebComponents"/>
      <add name="ExceptionModule" type="Language.WebComponents.Modules.ExceptionModule, Language.WebComponents"/>
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />
    </httpHandlers>
  </system.web>

  <location allowOverride="false" path="Admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
