<%@ Page Language="C#" AutoEventWireup="false" MasterPageFile="~/$locale/Resources.Master" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
	$utils.Localize("BombAttack")
</asp:Content>

<asp:Content ContentPlaceHolderID="conceptMenu" runat="server">
	$utils.GetBattleConceptsMenu()
</asp:Content>

<asp:Content ContentPlaceHolderID="content" runat="server">

	<h1>$utils.Localize("BombAttack")</h1>
	$utils.Localize("BombAttackContent")
	
</asp:Content>