<%@ Page Language="C#" AutoEventWireup="false" MasterPageFile="~/$locale/Resources.Master" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
	$utils.Localize("Ladder")
</asp:Content>

<asp:Content ContentPlaceHolderID="conceptMenu" runat="server">
	$utils.GetWarZoneConceptsMenu()
</asp:Content>

<asp:Content ContentPlaceHolderID="content" runat="server">

	$utils.Localize("LadderInfo")
	
</asp:Content>