<%@ Page Language="C#" AutoEventWireup="false" MasterPageFile="~/$locale/Resources.Master" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
	$utils.Localize("Movement")
</asp:Content>

<asp:Content ContentPlaceHolderID="conceptMenu" runat="server">
	$utils.GetBattleConceptsMenu()
</asp:Content>

<asp:Content ContentPlaceHolderID="content" runat="server">

	$utils.Localize("MovementContent")
	
</asp:Content>