<%@ Page Language="C#" AutoEventWireup="false" MasterPageFile="~/$locale/Resources.Master" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
	$utils.Localize("Replicator")
</asp:Content>

<asp:Content ContentPlaceHolderID="conceptMenu" runat="server">
	$utils.GetBattleConceptsMenu()
</asp:Content>

<asp:Content ContentPlaceHolderID="content" runat="server">

	<h1>$utils.Localize("Replicator")</h1>
	$utils.Localize("ReplicatorContent")
</asp:Content>