<%@ Page Language="C#" AutoEventWireup="false" MasterPageFile="~/$locale/Resources.Master" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
	$utils.Localize("StrikeBack")
</asp:Content>

<asp:Content ContentPlaceHolderID="conceptMenu" runat="server">
	$utils.GetBattleConceptsMenu()
</asp:Content>

<asp:Content ContentPlaceHolderID="content" runat="server">

	<h1>$utils.Localize("StrikeBack")</h1>
	$utils.Localize("StrikeBackContent")
	
</asp:Content>